.bg-dasniko::before {
  content: "";
  background-image: url(../img/youtube_cover_background.jpg);
  background-size: cover;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container {
  max-width: 600px;
}

.page-header {
  text-shadow: 0 0 24px #ffffff;
}

#kc-locale-dropdown a {
  text-align: right;
  font-size: 0.875rem
}

a#kc-current-locale-link::after {
  content: "\2c5";
  margin-left: 4px;
}

#kc-locale ul {
  right: 0;
}

#kc-locale-dropdown:hover ul {
  display: block !important;
  z-index: 1;
}

#kc-social-providers li {
  list-style: none;
  flex: 1;
}

#kc-form-webauthn .unknown-transport-class {
  margin-top: 3px;
}

.pointer {
  cursor: pointer;
}

.kc-login-tooltip {
  display: inline;
  position: relative;
}
.kc-tooltip-text {
  display: none;
}
.kc-login-tooltip:hover .kc-tooltip-text {
  display: block;
  position: absolute;
  white-space: nowrap;
  top: 20px;
  left: 0px;
}
