name: Build LDAP Docker image and publish

on:
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Copy files
        run: |
          mkdir ./ldap/certs
          cp ./certs/dhparam.pem ./ldap/certs/
          cp ./certs/ldap.* ./ldap/certs/
          cp ./certs/rootCA.crt ./ldap/certs/
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: ./ldap
          file: ldap/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/dasniko/flintstones_ldap:latest
